

.board {
  margin:auto;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  border: 1px solid black;
  height: 75vw;
  width: 75vw;
}

.piece {
  justify-self: stretch;
  background-color: red;
  grid-column: 1;
  grid-row: 1;
  border-radius: 100%
}

.spike {
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background-color: black;
  grid-column: 1;
  grid-row: 1/7;
  justify-self: stretch;
  z-index: -99;
}